.container {
    border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    height: 60vw;
    margin: 50px auto;
}
 
.white, .black {
    height: 20vw;
    width: 20vw;
}
.white {
    background-color: aliceblue;
}

.black {
    background-color: black;
}